@layer components {
  /* ---------------------------------- */
  /* Breadcrumb */
  /* ---------------------------------- */
  .breadcrumb__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @apply gap-1 text-xs;
  }
  .breadcrumb__list li {
    display: flex;
    align-items: center;
    @apply gap-2;
  }
  .breadcrumb__list li:not(:last-child)::after {
    @apply content-['/'] text-secondary-text;
  }
  .breadcrumb__list li a {
    @apply text-secondary-text hover:text-secondary-text-hover;
  }
  .breadcrumb-current {
    font-weight: 500;
    @apply text-breadcrumb-current;
  }
}
