@layer components {
  /* ---------------------------------- */
  /* Footer, Footer Menu */
  /* ---------------------------------- */
  .footer__link {
    display: flex;
    align-items: center;
    @apply gap-1 
      lg:px-3 
      lg:py-2 
      lg:rounded-full 
      hover:bg-(--menu-bg-gray-hover);
  }
  .footer__text {
    @apply hidden lg:block;
  }
}
