@layer components {
  /* ---------------------------------- */
  /* Product Card */
  /* ---------------------------------- */
  .product-card {
    display: flex;
    flex-direction: column;
    @apply h-full shadow-xl rounded-card bg-card-bg;
  }

  .product-card--lg.product-card {
    @apply p-5 gap-5 lg:p-6 lg:flex-row;
  }

  .product-card--sm.product-card {
    @apply p-2 gap-2 lg:p-3 lg:gap-4;
  }

  .product-card__media {
    @apply rounded-lg overflow-hidden relative;
  }
  .product-card__favorite {
    @apply absolute right-2 top-2 cursor-pointer;
  }
  .product-card__body {
    @apply flex flex-col justify-between;
  }
  .product-card--sm .product-card__body {
    @apply flex-1 gap-2;
  }
  .product-card--lg .product-card__body {
    @apply gap-4 lg:gap-6 lg:items-center;
  }
  .product-card__title {
    font-weight: 700;
    text-align: center;
    @apply text-xs lg:text-md;
  }
  .product-card__badge {
    width: fit-content;
    font-weight: 600;
    @apply rounded-full 
    px-3 
    py-2 
    uppercase 
    bg-brand-100 
    text-brand-600 
    text-sm;
  }
  .product-card__specs {
    @apply flex gap-1 shrink-0 items-center;
  }
  .product-card--sm .product-card__specs {
    @apply justify-center;
  }
  .product-card__spec {
    @apply text-secondary-text shrink-0;
  }
  .product-card--sm .product-card__spec {
    @apply text-xxs lg:text-sm;
  }
  .product-card--lg .product-card__spec {
    @apply text-sm lg:text-md;
  }
  .product-card__pricing {
    @apply flex gap-1;
    @apply lg:gap-2;
  }
  .product-card--sm .product-card__pricing {
    justify-content: center;
  }
  .product-card--sm .product-card__price {
    font-weight: 700;
    @apply text-sm lg:text-md;
  }
  .product-card__price--old {
    @apply text-secondary-text line-through;
  }
  .product-card--sm .product-card__price--old {
    @apply text-xxs lg:text-(length:--text-sm);
  }
  .product-card__dot {
    width: 2px;
    height: 2px;
    background-color: black;
    @apply rounded-full;
  }
  .product-card__cta {
    @apply w-full mt-auto;
  }
}
